
<% if user_signed_in? %>
<%= react_router 'MyRoutes', 'HashLocation', { foo: 'Foo' }, { prerender_location: @location_path } %>
<% else %>
<div class="inline-block width440"></div>
  <div class="form width240 inline-block vertical-top">
    <h1 class="align-center">Sign in</h1>
    <%= form_for(:session, url: sessions_path, id: "new-form") do |f| %>
      <p><%= f.label :email %></br>
      <%= f.text_field :email, class: ' ', id: 'email'%></p>
      <p><%= f.label :password %></br>
      <%= f.password_field :password, class: ' ', id: 'password'%></p>
      <p><%= f.label :remember_me, class: "checkbox inline" do %>
      <% end %>
      <p class="align-center">
        <%= f.submit "Log in", class: " ", id: 'login'%>
      </p>
    <% end %>
  </div>
  <div class="form width240 inline-block vertical-top">
  <h1 class="align-center">Sign Up</h1>
    <div class="">
    <%= form_for User.new do |f|%>
      <p>
        <%= f.label :name %></br>
        <%= f.text_field :name ,class: "", size:"30",id: "name" %>
      </p>
       <%= f.label :avatar %></br>
       <%= f.file_field :avatar %>
      <p>
        <%= f.label :email %></br>
        <%= f.text_field  :email, class: "",size:"30", id: "email"%>
      </p>
      <p>
        <%= f.label :password %></br>
        <%= f.password_field :password, class: "form-control",size:"30", id: "password"%>
      </p>
      <p>
        <%= f.label :password_confirmation %></br>
        <%= f.password_field :password_confirmation, class: "form-control",size:"30", id: "password_confirmation"%>
      </p>

       <p class="align-center">
        <%= f.submit "Sign Up", class: " ", id: "Sign Up" %>
        </p>
    <% end %>
    </div>
</div>
<%end %>
